/* import fonts - https://fonts.google.com/specimen/Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  /* ซ่อนตัวเลื่อน */
  overflow: hidden;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100pv;
}

section .color {
  position: absolute;
  filter: blur(150px);
}

section .color:nth-child(1) {
  width: 600px;
  height: 600px;
  background: #ff359b;
}

section .color:nth-child(2) {
  bottom: -150px;
  left: 100px;
  width: 600px;
  height: 500px;
  background: #fffd87;
}

section .color:nth-child(3) {
  bottom: -150px;
  right: 100px;
  width: 600px;
  height: 500px;
  background: #00d2ff;
}

.box {
  position: relative;
  padding-top: 150px;
}

.container {
  position: relative;
  width: 400px;
  min-height: 400px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.form h2 {
  position: relative;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 40px;
}
